<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074033950267-edcc8hal77idn7i1i53pbal9cpihm8e6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074033950267-edcc8hal77idn7i1i53pbal9cpihm8e6</string>
	<key>API_KEY</key>
	<string>AIzaSyD80r0-vIUoEY7i5q99ptbVe7wXJYz0PR4</string>
	<key>GCM_SENDER_ID</key>
	<string>1074033950267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learnBloc2</string>
	<key>PROJECT_ID</key>
	<string>news-app-6010c</string>
	<key>STORAGE_BUCKET</key>
	<string>news-app-6010c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074033950267:ios:59ab2aae9edea58250261e</string>
</dict>
</plist>